*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'georgia',tahoma,  arial;
}
html{
	background: #313131;
	padding: 0 20px;
}
body{
	font-family: 'georgia',tahoma,  arial;
	color: #999;
	background-color: #fff;
}
h1{
	margin: 0;
	padding:0;
	font-size: 26px;
}
h2{
	font-size: 22px;
	font-weight: normal;
}
h3{
	font-size: 16px;
	font-weight: normal;
}
h4{
	font-size: 14px;
}
h5{
	font-size: 12px;
	font-weight: bold;
}
p{
	font-size: 13px;
}
blockquote{
	font-size: 22px;
}
a{
	font-size: 13px;
	color: #a7c353;
	text-decoration: none;
}
a:hover{
	cursor: pointer;
}
footer a{
	font-size: 12px;
}
footer p{
	font-size: 12px;
}
p span{
	font-size: 11px;
}
input{
	font-size: 13px;
}
small{
	font-size: 12px;
	margin:0;
}
img{
	color:white;
	background-color: #313131;
	text-align: center;
}
li{
	list-style-type: none;
}
.wrapdiv{
    display: flex;   
    flex-wrap: wrap;
}
/*********** Header **********/
.topdiv{
	border-bottom: 2px solid #a7c353;
	margin: 0 20px;
}
.topdiv.wrap a{
	color:#999;
}
header{
	height: 100px;
	padding: 30px 0;
}
header h1:first-letter{
	font-size: 33px;
}
header span{
	font-size: 12px;
}
/*********** Nav *************/
nav{
	height: 100px;
	margin:0 0 0 auto;
	text-align: right;
	vertical-align: middle;
}
nav ul{
	height: 100%;
}
nav ul li{
	list-style-type: none;
	background-color: #fff;
	display: inline-block;
	height: 100%;
}
nav ul li a{
	height: 100%;
	display: inline-block;
	font-size:13px;
	padding: 45px 20px;
	color: #999;
}
nav a.active{
	color: #fff;
}
nav a:hover,nav ul li:first-child a{
	color: #fff;
	background-color: #a7c353;
}


/************** Blockquote ***********/
blockquote{
	font-size: 22px;
	margin: 0 20px;
	padding: 45px 0;
	text-align: center;
	font-style: italic;
}

/************** Slide Gallery *************/
.slideimg{
	color:blue;
	height: 350px; 
	border-bottom: 2px solid #a7c353;
	margin: 0 20px;
    position:relative;
    background-color: #313131;
    background-image: url("img/pentalog.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
.slideimg img{
	width: 100%;
	height: 100%;
}
.leftdiv, .rightdiv{
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	color: #a7c353 ;
	border-radius: 50%;
	border: 3px solid #a7c353;
}
.slideimg .leftdiv>img,.slideimg .rightdiv>img{
	border-radius: 50%;
	background-color: #000;
	padding: 2px;
}
.slideimg .leftdiv>img:hover,.slideimg .rightdiv>img:hover{
	background-color: #666;
	padding: 5px;
}
.leftdiv{
	position: absolute;
	top: 45%;
	left: 10px;
	cursor:pointer;
}
.rightdiv{
	position: absolute;
	top: 45%;
	right: 10px;
        cursor:pointer;
}
.slidechild{
	position: absolute;
	bottom: 25px;
	right: 0;
}
.slideimg h1{
	width: 40%;
	margin-left: 50%;
	font-weight: normal;
	background-color: #a7c353;
	color: #fff;
	padding: 12px;
}
.slideimg p{
	width: 40%;
	margin:  12px 5% 24px 50%;
	background-color: #fff;
	color: #999;
	padding: 12px;
}
/************* dots **********/
.dots{
	height: 75px;
	text-align: center;
}
.dots div{
	display: inline-block;
	border: 2px solid #a7c353;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	margin-top: 20px;
	background-color: #a7c353;
}
.dots div:first-child{
	background-color: white;
}
/************* INFO ***********/
.info{
    display: flex;   
    flex-wrap: wrap;
}
.infochild{
	width:33%;
	padding: 40px 20px;
}
.infochild h2{
	margin: 0 auto 35px 0;
}
.infochild>img{
	width:100%; 
	height:140px;
	float:left;
	padding: 5px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 2px solid #999;
}
.infochild.infochildcenter>div>img{
	float:left;
	margin-right: 20px;
        height: 64px;
        width: 64px;
}
.infochild.infochildcenter>p{
    text-align: right;
}
.infochild>img{
	border:none;
	margin: 0;
}
.infochild:nth-child(1) p{
	margin: 20px 0;
}
.infochildcenter div{
	padding: 10px 0;
}
.infochildcenter div h3{
	padding-top: 0;
}
.readmore{
	text-align: right;
}
.readmore a{
	color: #a7c353;
	text-align: right;
}
.infochild:last-child img{
	width: 40px;
	height: 40px;
	background-color: #fff;
}
.infochild h3{
	padding: 10px;
}
.infochild:last-child h3 span{
	font-weight: normal;
}
.infochild:last-child p{
	padding: 10px 0;
}
/*********** FOoter ************/
footer{
	background-color: #313131;
	color: #999;
}
footer > div{
 width: 25%;
}
footer h2{
	color: #fff;
	font-size: 16px;
	padding-top: 40px;
	margin-bottom: 15px;
}
footer p{
	margin-right: 20px;
	font-size: 12px;
}
footer div:first-child p{
	padding-top: 25px;
}

.lastdiv{
	width: 95%;
	padding: 20px;
}
.hrline, footer ul li{
	border-top: 2px solid #383838;
	margin-right: 20px;
	padding: 10px 0;

}
p .green, footer ul li a{
	color: #a7c353;
	font-size: 13px;
}
footer ul li a{
	padding: 5px 5px 20px 10px;
	position: relative;
	bottom: 10px;
}
footer ul li img{
	width: 35px;
	font-size: 10px;
	padding: 5px;
	background-color: #383838;
	border-radius: 50%;
}
p.bighidiu {
	font-size: 11px;
	margin: 5px 0;
}
/*************** FONTS ************/
@font-face{
    font-family: 'georgia';
    src: url('fonts/georgia.ttf')
}
input, textarea{
	background-color: #383838;
	border-radius: 10px;
	width: 100%;
	font-size: 13px;
	padding: 10px;
	margin: 4px 0;
	border: none;
}
input:last-child{
	width: 100px;
	font-weight: bold;
	background-color: #a7c353;
	color: #313131;
}
input:last-child:hover{
	background-color: #a9c959;
	text-shadow: 1px 1px 1px #666;
}
.lastdiv{
	height: 52px;
	width: 100%;
	position: relative;
	font-size: 12px;
	flex-wrap: nowrap;
}
.lastdiv span:first-child{
	position:absolute;
	left:0;
	top:20px;
}
.lastdiv span:last-child{
	position:absolute;
	right:0;
	top: 20px;
}

 @media (max-width: 1000px){ /* Tablet*/
 	.slidechild,.leftdiv,.rightdiv{
 		display: none;
 	}
 	.wrapdiv{
 		flex-wrap: nowrap;
 	}
 	nav ul li a{
 		padding-left: 2px;
 		padding-right: 2px;
 	}
 	nav ul{
 		padding-left: 0;
 	}

 }
 @media (max-width: 600px){/* Mobile*/
	body{
		min-width: 600px;
	}
 } 