  * {
  margin: 0;
  padding: 0;
  }

  body{
  background-color: #313131;
  font-family: "Georgia"; 
  width: 1000px;
  border-top: 5px solid rgb(167, 195, 83);
  }

  .without-footer{
  background-color: #fff;
  }

  #topbar{
  width:920px;
  margin: 0 auto;
  height: 96px;
  line-height: 1;
  border-bottom: 1px solid rgb(167, 195, 83);
  }

  #logo{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float:left;
  }

  #topbar h1{
  color: rgb(102, 102, 102);
  }

  #topbar p{
  color: rgb(153, 153, 153);
  }


  .navigation {
  float: right;
  height: 96px;
  }



  .navigation ul {
  list-style-type: none;
  background-color: #fff;
  }

  .navigation li {
  display: inline-block;
  }
  .navigation li a{	
  display: block;
  height: 46px;
  width:100px;
  text-align: center;
  text-decoration: none;
  color: rgb(151, 151, 151);
  line-height: 1.2;
  font-size: 13px;
  padding-top:50px;

  }
  .activ {
  background-color: rgb(167, 195, 83);
  color:#fff;}

  li a:hover {
  background-color: rgb(167, 195, 83);
  color:#fff;
  }


  blockquote {
  font-size: 22px;
  color: rgb(102, 102, 102);
  font-style: italic;
  width: 750px;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  }

  blockquote::before {
  top: 0;
  right: 0;
  content: "\201C";
  }

  blockquote::after {
  top: 0;
  right: 0;
  content: "\201D";
  }

  .slider {
  clear: both;
  background-color: rgb(53, 53, 53);
  position: relative;
  left: 40px;
  top: 40px;
  width: 920px;
  height: 350px;  
  }

  .slider h1{
  color: #fff;
  line-height: 1.2; 
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  }

  /*controls*/
  .slider h1::after {
  content: "\f18e";
  font-family: FontAwesome;
  color: rgb(167, 195, 83);
  position: relative;
  left: 320px;
  font-size: 32px;
  }

  .slider h1::before {
  content: "\f190";
  font-family: FontAwesome;
  color: rgb(167, 195, 83);
  position: relative;
  right: 320px;
  font-size: 32px;
  }


  .slider #slider-bullets{ 
  color: rgb(167, 195, 83);
  position: relative;
  top:220px;
  left:425px;
  }



  .slider #slider-title{
  font-size: 22px;
  color: #fff;
  line-height: 1.8;
  text-align: center;
  text-transform:capitalize;
  position: relative;
  left:520px;
  top:165px;
  background-color: rgb(167, 195, 83);
  width:350px;
  height: 40px;
  }

  .slider #slider-content{
  font-size: 13px;
  color: rgb(153, 153, 153);
  line-height: 1.2;
  text-align: left;
  width:330px;
  position: relative;
  left: 520px;
  top:175px;
  background-color: #fff;
  padding: 10px;
  }


  #slider-border{
  position: relative;
  top:250px;
  border-bottom: 1px solid rgb(226, 226, 226);

  }
  .content {
  top: 150px;
  left: 40px;
  position: relative;	
  }

  .flex-container {
  display: flex;
  justify-content: center;
  width: 920px;
  height: 700px;

  }

  .flex-container .flex-item {
  width: 100%;
  margin: 10px 10px 50px 10px;
  }

  .flex-container .flex-item h2{
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
  margin-top:40px;
  }

  .flex-container .flex-item #flex-img{
  background-color: rgb(51, 51, 51);
  width: 270px;
  height: 140px;
  margin: 20px auto;
  }

  .flex-container .flex-item p {  
  font-size: 13px;
  color: rgb(153, 153, 153);
  line-height: 1.4;
  text-align: left;
  }

  .flex-container .flex-item #read-more{
  color: rgb(167, 195, 83);
  line-height: 1;
  text-align: right;
  margin-top: 5px;

  }


  .flex-container .flex-item #read-more-2{
  color: rgb(167, 195, 83);
  line-height: 1;
  text-align: right;
  position: relative;
  top: 5px;
  }

  .flex-container .flex-item .like-table #like-table-left{
  float:left;
  width: 25%;
  background-color: rgb(51, 51, 51);
  width: 64px;
  height: 64px;
  margin-top: 20px;
  }

  .flex-container .flex-item .like-table #like-table-right{
  float: left;
  width: 75%;
  }


  .flex-container .flex-item .like-table #like-table-right #service-title{
  font-size: 14px;
  color: rgb(135, 135, 135);
  line-height: 1.2;
  text-align: left;
  margin: 20px 0px 10px 20px;
  font-weight: bold;

  }

  .flex-container .flex-item .like-table #like-table-right #service-descriprion{
  font-size: 13px;
  color: rgb(134, 134, 134);
  line-height: 1.4;
  text-align: left;
  margin-left: 20px;
  }


  .flex-container .flex-item .testimonials .testimonial-name{

  font-size: 16px;
  color: rgb(152, 152, 152);
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
  margin-left: 50px;
  }

  .flex-container .flex-item .testimonials .testimonial-name::before{
  content: "\201C";
  font-family: FontAwesome;
  color: rgb(212, 212, 212);
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  margin-top:-40px;
  margin-left: -70px;

  }
  .flex-container .flex-item .testimonials .testimonial-content
  {
  font-size: 13px;
  color: rgb(136, 136, 136);
  line-height: 1.4;
  text-align: left;
  position: relative;
  margin-top:20px;

  }


  .flex-container .flex-item .testimonials #read-more-3 {
  color: rgb(167, 195, 83);
  line-height: 1;
  text-align: right;
  margin-top: 5px;
  }


  footer {
  position: relative;	
  width: 1000px;
  top: 50px;
  left: 40px;
  }


  footer .footer-column{
  width: 230px;
  float: left;
  margin: 0px 10px;
  }

  footer .footer-column .column-title{
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(58, 58, 58);

  }



  footer .company-details p {
  font-size: 12px;
  font-family: "Georgia";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;

  }

  footer .company-details a {
  font-size: 12px;
  font-family: "Georgia";
  color: rgb(167, 195, 83);
  line-height: 1.2;
  text-align: center;
  text-decoration: none

  } 

  footer .stay-social p{
  font-size: 12px;
  font-family: "Georgia";
  color: rgb(167, 195, 83);
  line-height: 1.6;
  text-align: left;
  text-decoration: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(58, 58, 58);
  }


  footer .stay-social .circle {
  padding: 10px 10px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  border: solid 1px;


  }

  footer .stay-social .fa-pinterest {
  background-color:  #383838;
  color:#fff;

  }


  footer .stay-social .fa-twitter {
  background-color:  #383838;
  color:#fff;
  }

  footer .stay-social .fa-rss {
  background-color:  #383838;
  color:#fff;
  }

  footer .stay-social .fa-linkedin {
  background-color:  #383838;
  color:#fff;
  }




  footer .from-blog .blog-title{
  font-size: 14px;
  color: rgb(135, 135, 135);
  line-height: 1.4;
  text-align: left;
  margin: 10px 0px;
  font-weight: bold;

  }

  footer .from-blog .blog-content{
  font-size: 11px;
  color: rgb(153, 153, 153);
  line-height: 1.4;
  text-align: left;
  }

  footer .from-blog #read-more-4 {
  color: rgb(167, 195, 83);
  line-height: 1.4;
  text-align: right;
  position: relative;
  top: 5px;
  font-size: 12px;
  }



  footer .contact-us input[type=text], select, textarea {
  font-size: 13px;
  color: rgb(152, 152, 152);
  line-height: 1.6;
  border: 1px solid rgb(56, 56, 56);;
  border-radius: 4px;
  margin-bottom: 10px;
  padding:5px;
  background-color: rgb(56, 56, 56);
  font-family: inherit;
  width: 190px;

  }

  footer .contact-us input[type=submit] {
  background-color: rgb(167, 195, 83);
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  color: rgb(49, 49, 49);
  line-height: 1.6;
  text-align: left;

  }
  footer #footer-info{
  height: 340px;
  width: inherit;
  border-bottom: 1px solid rgb(58, 58, 58);
  }

  footer .copyright {
  position: relative;	
  clear: left;
  height:15px;
  font-size: 12px;
  font-family: "Georgia";
  color: rgb(153, 153, 153);
  line-height: 1;
  margin: 30px 40px 30px 10px;
  }


  footer .copyright #copyright-rights{
  float:left;
  text-align: left;


  }

  footer .copyright #copyright-by{
  float:right;
  text-align: right;

  }

