body{
    margin: 0;
    padding:0;
    background-color:#313131;
    font-family: Georgia;
    font-style: normal;
}

.main{
    /*width: 960px;*/
    margin:auto;
    background-color:#fff;
    padding-bottom: 30px;
}

.clear {
    clear: both;
}

header {
    border-top-style: solid;
    border-top-width: 5px;
    border-color:#a7c353;

    }
.my-container{
    padding-left:20px;
    padding-right:20px;
}
#container-header{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color:#a7c353;
}
#logo {
    font-size: 12px;
    color:#666666;
    padding: 28px 0 0 0;
}

#logo bold {
    font-size: 26px;
}

#logo bold .bigger {
    font-size: 37px;
}

.menu { 
    float:rigth;
}

#logo { 
    float:left;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right;
}

.menu li {
   font-size: 13px;
    float: left;
    padding: 53px 22px 34px 22px;

}

.menu li:hover, 
.menu li.active {
    background-color:#a7c353;
    color:#fff
}


.menu li a {
    color:666666;
    text-align: center;
    text-decoration: none;
}

.menu li:hover a,
.menu li.active a {
    color:#fff
}

.quote {
     text-align: center;
     font-size: 22px;
     color:#666666;
     padding: 40px 0 40px 0;
     float: none;
     margin: auto;
}
.quote p{
    margin: 0;
    padding: 0;
}

.slider {
    background-color: #353535;
}
.slider ul{
    margin: 0;
    padding:0;
}
.slider li{
    list-style-type:none;
    cursor: pointer;
}

.arrows {
    text-decoration:none;
    position: absolute;
    margin-top: 147px;
    margin-left: 10px;
    width:900px;
    z-index: 11;
}

.carousel-control{
    z-index: 11;
}

.slider .left {
    float: left;
}
.slider .right {
    float: right;
}
.smallrectangle{
    position:absolute;
    margin: 209px 0 0 508px;
    width:350px;
    height:40px;
    background-color:#a7c353;
}

.smallrectangle h4{
    margin:0;
    padding:0;
    padding-top:7px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;

}  

.bigrectangle{
    position:absolute;
    margin:259px 0 0 508px;
    width:350px;
    height:70px;
    background-color:#ffffff;
}

.bigrectangle p{
    margin:0;
    padding:12px;
    font-size: 15px;
    margin-bottom: 10px;
    color:#999999;

}
.slider-nav ul{
    text-align:center;
    margin:0;
    padding:0;
}
.slider-nav li{
    list-style-type: none;
    cursor: pointer;
}

.slider-nav li{
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 3px solid #a7c353;
    background-color:#a7c353;
    margin:0;
    padding:0;
    width:11px;
    height:11px;
    display:inline-block;
    margin-right: 7px;
}

.slider-nav li:hover{
    background-color:#fff;
}
.slider-nav li.active{
    background-color:#fff;
}

.slider-nav{ 
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:#999999;
    margin:20px;
    padding-bottom: 40px;
}

.content .column {
  float:left;

}
.content .column:first-child{
margin-left:0;
}
.column h3 {
font-family: Georgia;
font-size:22px;
color:#666666;
}
.big-image{
    width:266px;
    height:136px;
    padding: 4px;
    border:1px solid #999999;
}
.column p{
    margin-top:11px;
    font-family: Georgia;
    font-size:13px;
    color:#999999;
}
.small-image{
    width:64px;
    height:64px;

}
.column ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.column li{
    list-style-type: none;
    margin-bottom: 20px;
}

.column .photo img{
    width: 100%;
    height: 100%;
}
.column .photo {
    float:left;
     width:64px;
    height:64px;
}
.column .details{
    margin-left:20px;
    float: left;
    width: 190px;
}

.column .details h4 {
    font-size:14px;
    color:#878787;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.column .see-more {
    text-align:right;
    font-size:13px;
}

.column .see-more a{
    text-decoration: none;
    color:#a7c353;
}
.column .quote{
    float:left;
}
.column .testimonial h4{
    margin-top:15px;
    margin-bottom:20px;
}
.column .testimonial h4 span{
    font-weight: 100;
}
footer{
    padding-top: 40px;
    color:#999999;
}
footer h4{
    color:#fff;
    font-weight: 300;
    font-size:16px;
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 15px;
}
footer .column:first-child {
    margin-left:0;
}

footer a{
    text-decoration:none;
    color:#a7c353;
}
footer h5{
    font-weight:600;
    margin-bottom:0;
    padding-bottom:0;
}
footer .blog-posts p{
    margin-top:2px;
    margin-bottom:6px;
}
footer .blog-posts a{
    font-size:12px;
    float:right;
}

footer .social-logo{
    float:left;
    margin:0;
    padding:0;
}
footer .social-link{
    float:left;
    margin-top:10px;
    margin-left:5px;
    font-size:12px;
}

footer li{
    border-bottom:1px solid #3a3a3a;
}

input[type=text] {
    border-radius: 5px;
    border:none;
    background-color: #3a3a3a;;
    color: white;
    font-size:13px;
    font-family:Georgia;
    width:226px;
    height:32px;
    margin:0;
    margin-bottom:10px;
    padding:8px;
}

input[type=text] #message{
    height:111px;
    width:226px;
}
footer textarea{
    border-radius:6px;
    border:none;
    background-color: #3a3a3a;
    color: white;
    font-size:13px;
    font-family:Georgia;
    width:226px;
    height:111px;
    margin:0;
    padding:8px;

}
footer button{
    border-radius:5px;
    border:none;
    background-color: #a7c353;
    color:#313131;
    font-size:13px;
    font-family:Georgia;
    margin-top:8px;;
    padding:8px;
}

.copyright{
    border-top:1px solid #3a3a3a;
    padding-top:20px;
    padding-bottom:30px;
    font-size:12px;
}
.copyright .left{
    float:left;
}

.copyright .right{
    float:right;
}

/* responsive */
@media (min-width: 770px ) and (max-width: 990px) {
  .menu ul,
  .navbar-nav {
    float: none;
  }
}

@media (max-width: 770px) {
    .menu ul {
        float: none;
    }
    .menu li {
        float: none;
        padding: 4px;
    }
}