
.slideshow {
	
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

.prev, .next {
	
  cursor: pointer;
  position: absolute;
  top: 40%;
  padding: 20px;
  color: #a7c353;
  font-size: 20px;
  transition: 0.6s ease;
  border-style:solid;
  border-radius: 50%;
  border-width: 3px;
  border-color: #a7c353;
  font-weight: bold;
  margin-left: 10px;
  
}

.next {
	
  right: 0; 
  margin-right: 10px;
  
}

.prev:hover, .next:hover {
	
  background-color: #000000;
  
}

.dot {
	
  border-style: solid;
  height: 10px;
  width: 10px;
  border-color: #a7c353;
  margin: 0 2px;
  background-color: #a7c353;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
	
  background-color: white;
  
}


.fade {
	
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  
}

@-webkit-keyframes fade {
	
  from {opacity: .4} 
  to {opacity: 1}
  
}

@keyframes fade {
	
  from {opacity: .4} 
  to {opacity: 1}
  
}


.container{

	width: 960px;
	height:1560px;
	margin:auto;
	
}

.Separator{
	
	height:5px;
	width:960px;
	background-color: #a7c353;
	margin: auto;
	
}

.menu{
	
	width:920px;
	height:95px;
	margin:auto;
	font-family:georgia;
	font-size:13px;
	color:#666666;
	text-align:center;
	
}

.MenuTitle{
	
	width:280px;
	height:95px;
	float:left;
	text-align:left;
	font-family:georgia;
	
	
}

.MenuButtons{

	width: 640px;
	float: left;
	height: 95px;
	
}

.Home{
	
	width:75px;
	height:95px;
	float:left;
	text-align:center;
	
	
	
}

.Home:hover{
	
	background-color:#a7c353;
	
}
	

.style{
	
	width:110px;
	height:95px;
	float:left;
	text-align:center;
	
	
}

.style:hover{
	
	background-color:#a7c353;
	
}


.full{
	
	width:120px;
	height:95px;
	float:left;
	text-align:center;

	
}

.full:hover{
	
	background-color:#a7c353;
	
}

.drop{
	
	width:110px;
	height:95px;
	float:left;
	text-align:center;
	
}

.drop:hover{
	
background-color:#a7c353;

}

.portfolio{
	
	float:left;
	width: 110px;
	height: 95px;
	text-align:center;
	
	
}

.portfolio:hover{
	
	background-color:#a7c353;
	
}

.gallery{
	
	float:left;
	width: 110px;
	height: 95px;
	text-align:center;
	
	
}

.gallery:hover{
	
	background-color:#a7c353;
	
}

.Separator2{
	
	height:1px;
	width:920px;
	background-color: #a7c353;
	margin: auto;
	
}

.Text{
	
	width:920px;
    height:135px;
	margin:auto;
	text-align:center;
	font-family:georgia;
	font-size:22px;
	color:#666666;
	
}

.Pictures{
	
	width:920px;
	height:425px;
	margin:auto;
    

}

.Information{
	
	width:920px;
	height:510px;
	margin:auto;
	
}

.About{
	
	width:310px;
	height:510px;
	float:left;
	color:#666666;
	font-family:georgia;
	font-size:13px;
	
}

.AboutTitle{
	
	width:310px;
	height:90px;
	float:left;
	text-align:left;
    color:#666666;
	
}

.Service{
	
	width:315px;
	height:510px;
	float:left;
	color:#666666;
	font-family:georgia;
	font-size:13px;

}

.ServiceTitle{
	
	width:315px;
	height:90px;
	float:left;
	color:#666666;
	font-family:georgia;
	font-size:13px;
	
}

.bucchenar{
	
	width:315px;
	height:420px;
	float:left;
	color:#666666;
	font-family:georgia;
	font-size:13px;
	
}

.Clients{
	width:295px;
	height:510px;
	float:left;
	color:#666666;
	font-family:georgia;
	font-size:13px;
	
}

.ClientsTitle{
	
	width:295px;
	height:90px;
	float:left;
	text-align:left;
	color:#666666;
	font-family:georgia;
	font-size:13px;
	
}

.Division{
	
	width:295px;
	height:210px;
	float:left;
	color:#666666;
	font-family:georgia;
	font-size:13px;
	
}


.Details{
	
	width:960px;
	height:385px;
}

.separator{
	
	height:1px;
	width:225px;
	background-color:#999999;
	margin:auto;
	float:left;
}


.CompanyDetails{
	
	width:240px;
	height:385px;
	background-color:#313131;
	float:left;
	color:#999999;
	font-family:georgia;
	font-size:12px;

	
}

.CompanySocial{
	
	width:240px;
	height:385px;
	background-color:#313131;
	float:left;
	color:#999999;
	font-family:georgia;
	font-size:12px;
	
}
.CompanyBlog{
	
	width:240px;
	height:385px;
	background-color:#313131;
	float:left;
	color:#999999;
	font-family:georgia;
	font-size:12px;
	
}

.CompanyContact{
	
	width:240px;
	height:385px;
	background-color:#313131;
	float:left;
	color:#999999;
	text-align:center;
	font-family:georgia;
	font-size:12px;
	
	
}

.Separator3{
	
    height:1px;
	width:960px;
	background-color:#999999;
	margin:auto;
	float:left;
	
	
}

.footer{
	
	width:960px;
	height:53px;
	background-color:#313131;
	color:#999999;
	margin:auto;
	
}


.separator4{
	
	height:1px;
	width:960px;
	background-color:#999999;
	margin:auto;
	
}

.SubmitButton{
	
	color:#313131;
	background-color:#a7c353;
	border:none;
	float:left;
	border-style:solid;
	border-radius:10px;
	height:40px;
	width:80px;
	font-size:15px;
	
}




	
