.slider {
display: block;
height: 350px;
width: 100%;
position: relative;
}
.sliderinner {
width: 100%;
overflow: hidden;
position: relative;
}

.sliderinner>ul {
list-style: none;
height: 100%;
width: 500%;
position: relative;
transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
margin:0;
padding: 0;
}

.sliderinner>ul>li {
width: 20%;
height: 350px;
float: left;
position: relative;
}

.sliderinner>ul>li>img {
margin: auto;
height: 350px;
width: 100%;
}

.slider input[type=radio] {
position: absolute;
left: 50%;
bottom: 15px;
z-index: 100;
visibility: hidden;
}

.slider label {
position: absolute;
left: 50%;
bottom: -45px;
z-index: 100;
width: 12px;
height: 12px;
background-color : #a7c353;
border-radius: 50%;
cursor: pointer;
box-shadow: 0px 0px 3px rgba(0,0,0,.8);
transition: background-color .2s;
}

.slider input[type=radio]#control1:checked~label[for=control1] { background-color: #333; }
.slider input[type=radio]#control2:checked~label[for=control2] { background-color: #333; }
.slider input[type=radio]#control3:checked~label[for=control3] { background-color: #333; }
.slider input[type=radio]#control4:checked~label[for=control4] { background-color: #333; }
.slider input[type=radio]#control5:checked~label[for=control5] { background-color: #333; }
.slider label[for=control1] { margin-left: -36px }
.slider label[for=control2] { margin-left: -18px }
.slider label[for=control4] { margin-left: 18px }
.slider label[for=control5] { margin-left: 36px }
.slider input[type=radio]#control1:checked~.sliderinner>ul { left: 0 }
.slider input[type=radio]#control2:checked~.sliderinner>ul { left: -100% }
.slider input[type=radio]#control3:checked~.sliderinner>ul { left: -200% }
.slider input[type=radio]#control4:checked~.sliderinner>ul { left: -300% }
.slider input[type=radio]#control5:checked~.sliderinner>ul { left: -400% }

.description-text{
position: absolute;
bottom: 0;
right: 5%;
width: 30%;
z-index: 1000;
text-align: center;
}
.description-text h3{
background-color : #a7c353;
padding:10px;
top: 0;
z-index: 4;
transition: opacity .2s;
color: #fff;
}
.description-text p{
background-color : #ffffff;
padding:10px;
top: 0;
z-index: 4;
transition: opacity .2s;
color: #999999;
}
.nav {
position: absolute;
height: 100%;
width: 193%;

}
.nav label{
border : 2px solid #a7c353;
width: 40px;
height: 40px;
background-color : #000000;
z-index: 1001;

}
.nav label.prev {
text-align: center;
color : #a7c353;
padding: 0;
margin:0;
position: absolute;
top: 50%;
left: 0px;
bottom:0px;
font-size: 33px;
}
.nav label.next {
text-align: center;
color : #a7c353;
top: 50%;
font-size: 33px;
padding: 0;
margin:0;
position: absolute;
right: 0px;
bottom:0px;
}